<p id="notice"><%= notice %></p>

<p>
  <strong>Opt:</strong>
  <%= @portfoliolog.opt %>
</p>

<p>
  <strong>Time:</strong>
  <%= @portfoliolog.time %>
</p>

<%= link_to 'Edit', edit_portfoliolog_path(@portfoliolog) %> |
<%= link_to 'Back', portfoliologs_path %>
