<%- model_class = Sysconfig -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:cfgdate) %>:</strong></dt>
  <dd><%= @sysconfig.cfgdate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cfgtime) %>:</strong></dt>
  <dd><%= @sysconfig.cfgtime %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cfgname) %>:</strong></dt>
  <dd><%= @sysconfig.cfgname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cfginteger) %>:</strong></dt>
  <dd><%= @sysconfig.cfginteger %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cfgstring) %>:</strong></dt>
  <dd><%= @sysconfig.cfgstring %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cfgtext) %>:</strong></dt>
  <dd><%= @sysconfig.cfgtext %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lock_version) %>:</strong></dt>
  <dd><%= @sysconfig.lock_version %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              sysconfigs_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_sysconfig_path(@sysconfig), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              sysconfig_path(@sysconfig),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
