<h1>Listing analysts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lvl</th>
      <th>Fan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @analysts.each do |analyst| %>
      <tr>
        <td><%= analyst.name %></td>
        <td><%= analyst.lvl %></td>
        <td><%= analyst.fan %></td>
        <td><%= link_to 'Show', analyst %></td>
        <td><%= link_to 'Edit', edit_analyst_path(analyst) %></td>
        <td><%= link_to 'Destroy', analyst, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Analyst', new_analyst_path %>
