<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @syslog.role %>
</p>

<p>
  <strong>Time:</strong>
  <%= @syslog.time %>
</p>

<p>
  <strong>Opt:</strong>
  <%= @syslog.opt %>
</p>

<p>
  <strong>Curstate:</strong>
  <%= @syslog.curstate %>
</p>

<%= link_to 'Edit', edit_syslog_path(@syslog) %> |
<%= link_to 'Back', syslogs_path %>
