<%- model_class = Account -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:setdate) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:tradenum) %></th>
      <th><%= model_class.human_attribute_name(:winratio) %></th>
      <th><%= model_class.human_attribute_name(:plratio) %></th>
      <th><%= model_class.human_attribute_name(:profitmax) %></th>
      <th><%= model_class.human_attribute_name(:lossmax) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:marketdate) %></th>
      <th><%= model_class.human_attribute_name(:duration) %></th>
      <th><%= model_class.human_attribute_name(:wincount) %></th>
      <th><%= model_class.human_attribute_name(:losscount) %></th>
      <th><%= model_class.human_attribute_name(:profit) %></th>
      <th><%= model_class.human_attribute_name(:pretradenum) %></th>
      <th><%= model_class.human_attribute_name(:preprofit) %></th>
      <th><%= model_class.human_attribute_name(:prewincount) %></th>
      <th><%= model_class.human_attribute_name(:prelosscount) %></th>
      <th><%= model_class.human_attribute_name(:avatar_file_name) %></th>
      <th><%= model_class.human_attribute_name(:avatar_content_type) %></th>
      <th><%= model_class.human_attribute_name(:avatar_file_size) %></th>
      <th><%= model_class.human_attribute_name(:avatar_updated_at) %></th>
      <th><%= model_class.human_attribute_name(:analyst_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= link_to account.id, account_path(account) %></td>
        <td><%= account.setdate %></td>
        <td><%= account.name %></td>
        <td><%= account.tradenum %></td>
        <td><%= account.winratio %></td>
        <td><%= account.plratio %></td>
        <td><%= account.profitmax %></td>
        <td><%= account.lossmax %></td>
        <td><%= account.user_id %></td>
        <td><%= account.marketdate %></td>
        <td><%= account.duration %></td>
        <td><%= account.wincount %></td>
        <td><%= account.losscount %></td>
        <td><%= account.profit %></td>
        <td><%= account.pretradenum %></td>
        <td><%= account.preprofit %></td>
        <td><%= account.prewincount %></td>
        <td><%= account.prelosscount %></td>
        <td><%= account.avatar_file_name %></td>
        <td><%= account.avatar_content_type %></td>
        <td><%= account.avatar_file_size %></td>
        <td><%= account.avatar_updated_at %></td>
        <td><%= account.analyst_id %></td>
        <td><%=l account.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_account_path(account), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      account_path(account),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_account_path,
            :class => 'btn btn-primary' %>
